@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


/*Estilos Generales*/
body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("imagenes/fondo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b2838;
    font-family: 'Inter', sans-serif;
    
}
h1{
    

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: clamp(24px,5vw,48px); /*Tamáño según pantalla*/
    background-color: #1b2838 ;
    color: whitesmoke;
    width:100%;
    margin:0;
    padding:20px 0;
    text-align:center;
}
/*LOGIN (index.html)*/

.box{
    background-color: #1b2838;
    padding: 30px;
    width: 90%; 
    max-width: 600px; /*Límite para escritorio*/
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin:auto; /*Esto aprovecha flex de body para centrar vertical y horizontalmente*/
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

/*En móviles , el logo y el login se apilan verticalmente*/
@media(max-width: 600px){
    .box-top{
        flex-direction: column-reverse;
        text-align:center;
    }
    .img-logo{
        margin-bottom: 10px;
    }
}
.inputs-column{
    display:flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    width: 100%;
}
.Login, .password{
    color:whitesmoke;
    font-size: 13px;
    font-weight: bold ;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
}
input[type="text"], .fake-input, select{
    background-color: #32353c;
    border:1px solid #171a21;
    border-radius: 2px;
    padding:12px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}
#START{
    align-self: center;
    background: linear-gradient(to right, #1999ff, #216bff);
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 24px;
    transition: filter 0.3s;
}
#Start:hover{
    filter:brightness(1.2);
}
.img-logo{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /*evita que la imagen se deforme*/
    border: 3px solid #1999ff;
    

}
/*Texto informativo inferior*/
.recuadros{
    background-color: rgba(27, 40, 56, 0.9);
    color: whitesmoke;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; /*evita que desborde lateralmente*/
    

}
/*Biblioteca (main.html)*/
.panel-filtros {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 4px;
    gap: 20px;
    color:whitesmoke;
}

.grupo-control{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 200px;

}
/*Que los juegos aprezcan dependen de este botón*/
#btn-cargar{
    display: none;
}
#biblioteca {
    background-color: rgba(23, 26, 33, 0.95); 
    padding: 30px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #000; /* Sombra interna para dar profundidad */
    border: 1px solid #2a475e;
}

#biblioteca h2 {
    color: #67c1f5;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2a475e;
    padding-bottom: 10px;
}
.grid-tarjetas {
    display: grid;
    /*Ajuste automático de columnas: mínimo 250px, máximo 1 fracción*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}
/* Estilo base para cada "cuadro" de juego */
.tarjeta-juego {
    background-color: #2a475e; /* Azul oscuro Steam */
    border-radius: 4px;
    padding: 15px;
    color: white;
    text-align: center;
    border-bottom: 3px solid #67c1f5;
    transition: transform 0.2;
    cursor: pointer;
}

/*Pie de página*/
footer {
    background-color: #171a21; /* El color casi negro de la interfaz de Steam */
    color: #afafaf;           /* Gris suave para el texto, menos agresivo que el blanco */
    padding: 40px 20px;          /* Espacio interno arriba y abajo */
    text-align: center;       /* Centra el texto y los enlaces */
    margin-top: auto;         /* Empuja el footer al final si hay poco contenido */
    border-top: 1px solid #32353c; /* Una línea sutil para separarlo del resto */
}

/* Estilo para los enlaces dentro del footer */
footer nav{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}


/*ARKANOID*/
#myCanvas {
     background: #eee;
     display:block;
     margin:20px auto;
     max-width:100%;
     height:auto; 
    
    
    }



